<div class="container">
    
    <div id="loading"><h3>Loading....<h3></div>
    <div class="row" id="history" style="display:none">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
            <div v-for="(header, header_index) in headers">
            <h5 class="card-header">{{ header }}</h5>
                <div class="card-body"> 
                    <div v-for="(history, history_index) in historys[header_index]" v-bind:id="history.job_id">
                        <p>
                            <a v-bind:href="'#'+history.job_id">Job ID: {{ history.job_id }}</a>
                        </p>
                        <p class="card-text">{{ new Date(history.ctime*1000).toString().split("GMT")[0] }}</p>
                            <div v-for="(file, file_index) in history.files">
                                <div v-if="file.name">
                                    <p style="text-align: left;">
                                        {{ file.content }}
                                    </p>
                                    <a v-bind:href="file.href" target="_blank" class="btn btn-info"> 
                                        {{ file.name.split("-")[0] }}
                                    </a>
                                </div>
                              
                            </div>
                            <hr>
                    </div>
                   
                </div>
            </div> <!-- end v-for -->
            </div> 
        
        </div>
     <div class="col-lg-3"></div>
    </div>
</div>
<style>
body .card{
    color: black;
}
</style>
<script type="text/javascript">
    window.onload = load;
    function load() {
        $.get( "/get_history", function( data ) {
            document.querySelector('#history').setAttribute('style', 'display');
            document.querySelector('#loading').setAttribute('style', 'display:none');
            var history_table = new Vue({
                el: '#history',
                data: {
                    headers: ["approved","pending","waiting"],
                    historys: data,
                }
            })
            var urlHash = window.location.hash;
            urlHash = urlHash.replace("#","");
            document.getElementById(urlHash).scrollIntoView();
            document.getElementById(urlHash).style["background-color"]="#cce6ff"
        });

    };


</script>
