<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-sm-12">
        <div class="card">
        <% let header = ["approved","pending","waiting"] %>
        <% for(var i=0; i<data.length; i++) {%>
        <h5 class="card-header"><%= header[i] %></h5>
        <div class="card-body">
           <% let category = data[i]%>
           <% for(var j=0; j<category.length; j++) {%>
           <% let date = category[j].ctime*1000 %>
          <p class="card-text">Time: <%= new Date(date).toString().split("GMT")[0] %>  Job ID: <%= category[j].job_id %>
            <a href="#" id='<%= data[i].job_id %>' class="btn btn-success">Info</a>
          </p>
          <form action="/get_job" method="GET" class="navbar-form navbar-right" role="form">
          </form>
        <% } %>
      </div>
        <% } %>
     </div>
     <div class="col-lg-3"></div>
    </div>
</div>
<style>
body .card{
    color: black;
}
</style>
