<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-sm-12">
        <div class="card">
        <% let header = ["approved","pending","waiting"] %>
        <% for(var i=0; i<data.length; i++) {%>
        <h5 class="card-header"><%= header[i] %></h5>
        <div class="card-body">
           <% let category = data[i]%>
           <% for(var j=0; j<category.length; j++) {%>
           <% let date = category[j].ctime*1000 %>
          <p class="card-text"><%= new Date(date).toString().split("GMT")[0] %></p>
          <p>Job ID: <%= category[j].job_id %></p>
            <% if(category[j].files) { %>
              <% let receiptURL = "/" + category[j].job_id + "/gengo_receipt.pdf" %>
              <% let chFileURL = "/" + category[j].job_id + "/chinese.txt" %>
              <% let enFileURL = "/" + category[j].job_id + "/english.txt" %>
              <a href="<%= receiptURL %>" target="_blank" class="btn btn-info">Receipt</a>
              <a href="<%= chFileURL %>" target="_blank" class="btn btn-info">Chinese</a>
              <a href="<%= enFileURL %>" target="_blank" class="btn btn-info">English</a>
            <% } %>
          <!-- <form action="/get_job" method="GET" class="navbar-form navbar-right" role="form">
          </form> -->
           <hr>
        <% } %>
      </div>
        <% } %>
     </div>
     <div class="col-lg-3"></div>
    </div>
</div>
<style>
body .card{
    color: black;
}
</style>
