<div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-sm-12">
                    <h1 class="cover-heading">Translator</h1>
                    <textarea class="form-control" name="content" form="textForm" rows="20" value=""></textarea><br>
                    <div class="form-group">
                        <label for="source">source Lang</label>
                        <select class="form-control" id="source">
                        <option>zh-tw</option>
                        <option>en</option>
                        <option>ja</option>
                        </select>
                        <label for="target">target Lang</label>
                        <select class="form-control" id="target">
                        <option>en</option>
                        <option>zh-tw</option>
                        <option>ja</option>
                        </select>
                     </div>


                    <button onclick="create_job()" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <script>
            function create_job(){ 
              
                let content = document.querySelector('.form-control').value;
                let sourceLang = document.querySelector('#source').value;
                let targetLang = document.querySelector('#target').value;   
                if(sourceLang==targetLang) {
                    alert('source Lang is same as target Lang');
                    return;
                }
                if(content==''){
                    alert('content is not valid');
                    return;
                }
                document.querySelector(".btn-primary").disabled = true
                $.post( "/create_job", { content: content, sourceLang: sourceLang, targetLang: targetLang })
                 .done(function( data ) {
                    alert(JSON.stringify(data));
                    document.querySelector('.form-control').value = "";
                
                }).fail(function() {
                    alert( "error" );
                })
                .always(function() {
                    document.querySelector(".btn-primary").disabled = false;
                });
            
            }
        </script>
</div>
