<div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-sm-12">
                    <h1 class="cover-heading">Translator</h1>
                    <textarea class="form-control" name="content" form="textForm" rows="20" value=""></textarea><br>
                    <div class="form-group">
                        <label for="source">原始文字語言 source language</label>
                        <select class="form-control" id="source">
                        <option>zh-tw</option>
                        <option>en</option>
                        <option>ja</option>
                        </select>
                        <label for="target">目標翻譯語言 target language</label>
                        <select class="form-control" id="target">
                        <option>en</option>
                        <option>zh-tw</option>
                        <option>ja</option>
                        </select>
                     </div>

                     <div>
                         請注意不要送出多次翻譯，成功或失敗都會跳出視窗，或是在翻譯歷史History看翻譯的時間
                     </div>
                     <br>
                    <button onclick="create_job()" class="btn btn-primary">送出 Submit</button>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <script>
            function create_job(){ 
              
                let content = document.querySelector('.form-control').value;
                let sourceLang = document.querySelector('#source').value;
                let targetLang = document.querySelector('#target').value;   
                if(sourceLang==targetLang) {
                    alert('source language is same as target language. 來源和目的的語言相同，請設定語言');
                    return;
                }
                if(content==''){
                    alert('content is not valid. 內文發生問題，請檢查內文');
                    return;
                }
                document.querySelector(".btn-primary").disabled = true
                $.post( "/create_job", { content: content, sourceLang: sourceLang, targetLang: targetLang })
                 .done(function( data ) {
                    var message = JSON.stringify(data);
                    message = "翻譯已送出"+message;
                    alert(message);
                    document.querySelector('.form-control').value = "";
                
                }).fail(function() {
                    alert("發生錯誤 error");
                })
                .always(function() {
                    document.querySelector(".btn-primary").disabled = false;
                });
            
            }
        </script>
</div>
