<main role="main">
    <div class="card">
        <h5 class="card-header">Job History</h5>
        <% for(var i=0; i<data.length; i++) {%>
        <div class="card-body">
          <% let date = data[i].ctime*1000 %>
          <p class="card-text">Time: <%= new Date(date).toString().split("GMT")[0] %>  Job ID: <%= data[i].job_id %></p>
          <form action="/get_job" method="GET" class="navbar-form navbar-right" role="form">
            <a href="#" id='<%= data[i].job_id %>' class="btn btn-success">Info</a>
          </form>
        </div>
        <hr>
        <% } %>
     </div>
</main>
<style>
body .card{
    color: black;
}
</style>
